/AttrOperator.class
/AttrType.class
/Catalogglobal.class
/Convert.class
/ExtendedSystemDefs.class
/Flags.class
/GlobalConst.class
/IndexType.class
/IntegerValue.class
/LogicalOperator.class
/PageId.class
/RID.class
/SelectType.class
/StringValue.class
/SystemDefs.class
/TID.class
/TupleOrder.class
/ValueClass.class
/globalVar.class
